body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

div.back {
  background-color: black;
  height: 100%;
  width: 100%;
  margin: auto;
  position: absolute;
  overflow: hidden;
}

#dvd {
  position: relative;
  display: inline-block;
  top: 300px;
  overflow: hidden;
}

svg {
  fill: blue;
  overflow: hidden;
}
